@import "fonts";
@import "mixins";
@import "vars";
@import "normalize";

body {
  font-family: $default-font;
  font-size: 14px;
  box-sizing: border-box;
  background-color: $defColor;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1198px;
  margin: 0 auto;
  min-height: 100px;
  background-color: red;
  @include mq($tablet) {
    width: 100%;
    margin: 0 auto;
  }
  @include mq($mobile) {
    width: 100%;
  }
}

.pageHeader {
  background: $defColor url("../img/back-desktop.jpg") no-repeat top;
  background-size: 100%;
  min-height: 770px;
  padding-top: 42px;
  flex-grow: 1;
  @include mq($tablet) {
    background-size: 100vw;
  }
}

.mainNav {
  display: flex;
  width: 768px;
  margin: 0 auto;
  border: 2px solid rgba(225, 225, 225, 0.6);
  align-items: center;
  @include mq($tablet) {
    width: 95%;
    max-width: 768px;
  }
}

.mainNav__logo {
  margin-left: 10px;
}

.mainNav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  justify-content: space-between;
}

.mainNav__item {
  display: block;
  flex-grow: 1;
  text-align: center;
  @include mq($mobile) {
    display: none;
  }
}

.mainNav__item a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 22px 0;
}

.mainNav__item--toggle {
  max-width: 11px;
  display: none;
  background: url("../img/toggle.png") no-repeat center;
  @include mq($mobile) {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
  & a {
    font-size: 0;
  }
}

.mainNav__search {
  display: block;
  font-size: 0;
  flex-basis: 81px;
  height: 24px;
  background: url("../img/magnifier.png") no-repeat center;
  @include mq($mobile) {
    display: none;
  }
}


